<html>
    <head>
        <style>
            .footer {
                background-color:blue;
            }
        </style>
    </head>
    <body>
        <%= yield %>
    </body>
    <div class="footer">
        Copyright 2019
    </div>
</html>