<html>
    <body>
        <a href="/questions/new">New</a>
        <% @questions.each do |q| %>
            <div>
                <a href="/questions/edit?id=<%= q.id %>">Edit</a>
                <%= q.question%>
                <%= q.answer%>
                <img src="<%= q.flag%>" height=100 width=100>
            </div>
        <% end %>
    </body>
</html>